@media (max-width: 750px) {

    :root {
        --color-principal: #e24894;
        --color-secundaria: #18182f;
        --color-terciaria: #f9f8f8;
        --color-laranja: #f18a1c;
        --color-write: #fff;
        --color-black: #000;
        --black: #13131a;
        --bg: #010103;
        --bg-teste: #00ff40;
        --gradiente: linear-gradient(to right, #e24893, #f18a1c);
        --gradiente2: linear-gradient(to right, #e24893, #6f0c3c);
    }
    
    * { /* Reseta o CSS  de todos os elementos */            
        margin: 0;      
        padding: 0;
        box-sizing: border-box; /* Faz com que a largura e altura do elemento seja a soma do conteúdo, padding e borda */
        font-family: "Open Sans", sans-serif;
    }

    /*********************************
            Section Header
    *********************************/

    header {
        display: none;
    }

    header.header-mobile {
        display: flex;
    }

    section.header-mobile {
        background: var(--gradiente);
    }

    .header-mobile .img-header-mobile {
        text-align: center;
    }

    .header-mobile .img-header-mobile img {
        max-width: 140px;
    }


    /*********************************
            Section Manutenção
    *********************************/

    section.site-manutencao {
        display: none;
    }


    /*********************************
             Topo Propostas
    *********************************/

    .topo-propostas {
        padding: 40px 0;
    }

    /*********************************
               Propostas
    *********************************/

    .propostas .items-propostas {
        flex-wrap: wrap;
    }

    .propostas .items-propostas .txt {
        padding: 0px 10px;
    }

    .propostas .items-propostas .txt h3 {
        margin-top: 0px; 
        margin-bottom: 10px;  
    }

    div.img-propostas {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    /*********************************
               Contato
    *********************************/
 
    .txt-contato, .icons-contato {
        display: block;
        width: 100%;
    }
    
    .contato .txt-contato h3 {
        font-size: 2em;
        line-height: 35px;
        font-weight: 300;
        margin-bottom: 10px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .contato .txt-contato h3 span{
        display: block;
        font-weight: 800;
    }
    
    .contato .txt-contato p {
        text-align: center;
        font-size: 18px;
        margin-bottom: 40px;
    }
    
    .contato .icons-contato button {
        width: 100%;
        margin: 20px 0;
    }

    .contato .txt-contato h3 span {
        font-weight: 400;
    }

}