/* Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* /Bootstrap */

@font-face {
    font-family: Heaters;
    src: url(../fonts/Heaters.woff) format("woff");
}

@font-face {
    font-family: Panton;
    src: url(../fonts/Panton.woff) format("woff");
}

:root {
    --color-principal: #e24894;
    --color-secundaria: #18182f;
    --color-terciaria: #f9f8f8;
    --color-laranja: #f18a1c;
    --color-write: #fff;
    --color-black: #000;
    --black: #13131a;
    --bg: #010103;
    --bg-teste: #00ff40;
    --gradiente: linear-gradient(to right, #e24893, #f18a1c);
    --gradiente2: linear-gradient(to right, #e24893, #6f0c3c);
}

* { /* Reseta o CSS  de todos os elementos */            
    margin: 0;      
    padding: 0;
    box-sizing: border-box; /* Faz com que a largura e altura do elemento seja a soma do conteúdo, padding e borda */
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #f9f9f9;
}

.interface { /* Centraliza o conteúdo da página */
    max-width: 1280px;  
    margin: 0 auto;
    padding: 0 20px;
}

header .btn-contato button, .hero-site button, .ajude-nos button {
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 15px;
}

header .btn-contato button:hover, .hero-site button:hover, .ajude-nos button:hover {
    background: var(--color-write);
    color: var(--color-laranja);
    /* background-color: var(--color-principal); */
    font-weight: bold;  /* Deixa o texto em negrito */
    transition: 0.4s;     /* Tempo de transição */
}


/*********************** 
*  Estilo dos Header   *
************************/

header {
    width: 100%;        /* Largura do elemento */
    padding: 1px 0px;   /* Espaçamento interno do elemento */
    top: 0;             /* Distância do topo */
    left: 0;            /* Distância da esquerda */

    z-index: 1000;      /* faz com que o elemento fique acima de todos os outros elementos */

    background: var(--gradiente);
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 120px;
}

header .logo img:hover {
    transform: scale(1.2);
    transition: 0.4s;
}

header .menu-desktop nav ul {
    list-style-type: none;
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 0 25px;
}

header .menu-desktop nav ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

.menu-desktop nav a:hover {
    transform: scale(1.1);
    transition: 0.4s;
    font-weight: bold;
}

header .btn-contato button {
    width: 140px;
    height: 50px;
}


section.divisoria {
    display: none;
}


/**************************
PÁGINA EM MANUTENÇÃO 

***************************/

.site-manutencao {
    display: none;  /* No momento está retirado */
    background-color: red;
    color: #fff;

    padding: 40px 0;
}

.site-manutencao .interface {
    display: flex;
    justify-content: center;
    height: 100%;
}

.site-manutencao .txt {
    text-align: center;
}

.site-manutencao p {
    font-weight: 800;
    font-size: 14px;
}

.site-manutencao .img-manutencao {
    padding-right: 20px;
}

/*************************** 
****************************
*  Estilo Topo Propostas   *
****************************
****************************/

.topo-propostas {
    background-color: var(--color-secundaria);
    padding: 20px 0;
}

.topo-propostas .interface {
    display: flex;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.topo-propostas .txt h3{
    font-family: Panton;
    line-height: 0.7;

    color: var(--color-terciaria)
}

.topo-propostas .txt span{
    font-family: Heaters;
    font-size: 80px;
    font-weight: 400;

    color: var(--color-principal);
}


/*************************** 
****************************
*     Estilo Propostas     *
****************************
****************************/


.propostas .txt h3 {
    font-family: Heaters;
    font-size: 60px;
    font-weight: 400;

    line-height: 0.7;

    color: var(--color-secundaria);

    margin: 30px 0 0px 0;
}

.propostas .txt p {
    font-family: Panton;
    font-size: 18px;

    color: var(--color-secundaria);

    margin: 10px 0 15px 0;
}

.propostas .items-propostas {
    background-color: #fff;
    display: flex;

    border-radius: 15px;

    padding: 0px 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    box-shadow: 10px 10px 20px #0000005d;
}

.propostas .img-propostas img {
    max-width: 350px;
    margin-right: 20px;
}

.propostas .items-propostas .txt ul p{
    font-family: Panton;
    font-size: 18px;

    margin: 0;

    color: var(--color-secundaria);
}

.propostas .items-propostas .txt ul {
    padding-left: 20px;
}

/*********************** 
* Estilo dos Contatos  *
************************/

section.contato {
    background-image: var(--gradiente);
    padding: 80px 0;
}

.txt-contato, .icons-contato {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
    color: #ffffff;
}

.contato .txt-contato h3 {
    font-family: Panton;
    font-size: 2.5em;
    line-height: 40px;
    font-weight: 100;
    margin-bottom: 20px;
}

.contato .txt-contato h3 span {
    font-family: Heaters;
    display: block;
    font-weight: 300;
    font-size: 90px;
    line-height: 50px;
}

.contato .txt-contato p {
    font-family: Panton;
    font-size: 18px;
}

.contato .icons-contato a {
    text-decoration: none;
}

.contato .icons-contato button {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */

    width: 60%;
    height: 60px;
    margin: 0 auto 15px auto;
    padding: 0 60px;

    background: transparent;
    border: 2px solid var(--color-write);
    border-radius: 15px;
    cursor: pointer;
    color: var(--color-write);

    transition: 0.5s;
}

.contato .icons-contato button i {
    font-size: 20px;
    color: var(--color-write);
    margin-right: 20px;
}

.contato .icons-contato button:hover {
    background-color: var(--color-write);

}

.contato .icons-contato button:hover i, .contato .icons-contato button:hover {
    color: var(--color-black);
    font-weight: bold;
    transition: 0.5s;
}

.contato .icons-contato button p {
    font-family: Panton;
    font-size: 18px;
}


/***********************
* Estilo do Rodapé     *
************************/

footer {
    background-color: #16192e;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

footer .top-footer button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--color-write);
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.5s;
}

footer .top-footer button:hover {
    background-color: var(--color-principal);
    color: #fff;
}

footer .middle-footer {
    margin: 20px 0;
    color: #fff;
}
footer .middle-footer a {
    color:var(--color-write);
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

footer .middle-footer a:hover {
    color: var(--color-principal);
    font-weight: 900;
}

footer .bottom-footer {
    border-top: 2px solid #fff;
}

footer .bottom-footer p {
    margin-top: 10px;
    color: #fff;
}