/****************
CONFIGURAÇÕES GERAIS
*****************/

* {
    margin: 0;
    padding: 0px;
}

head, body {
    background-color: antiquewhite;
}

/**************** 
Root  
*****************/

:root {
    /*Paleta de Cores*/
    --cor-principal: #E24894;
    --cor-azul-escuro: #18182f;
    --cor-cinza-claro: #f9f8f8;
    --cor-azul-normal: #006ba6;
    --cor-azul-claro: #23b5d3;
    --cor-write: #f8f8f8;
    --cor-black: #000;
}

/**************** 
HEADER 
*****************/

header {
    display: flex;
    padding: 20px;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: var(--cor-write);
}

nav {
    display: flex;
    align-items: center;
    margin: 0px 10px
}

ul {
    display: flex;
    list-style: none;
}

nav li {
    background-color: var(--cor-principal);
    color: var(--cor-write);
    padding: 8px;
    margin: 0px 8px;

    border-radius: 20px;
}

a {
    text-decoration: none;
}

.img-header {
    width: 120px;

}