* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    /*Paleta de Cores*/
    --cor-principal: #E24894;
    --cor-azul-escuro: #18182f;
    --cor-cinza-claro: #f9f8f8;
    --cor-azul-normal: #006ba6;
    --cor-azul-claro: #23b5d3;
    --cor-write: #f8f8f8;
    --cor-black: #000;
}

html, body {
    height: 100%;
    margin: 0;                          /* remova as margens padrão */
    padding: 0;                         /* remova o preenchimento padrão */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2, p {
    margin: 10px;
}

.container {
    display: flex;
    height: 100%;                       /* altura total da viewport */
    width: 100%;
    min-width: 300px;
    max-width: 350px;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.principal {
    background-color: #fff;
    border-radius: 25px;
    padding: 30px;
    text-align: center;
    box-shadow: 10px 9px 20px 0px rgba(0, 0, 0, 0.4);
}
div.acesso-manutencao {
    display: flex;
    flex-direction: row;
    margin: 20px 0px 0px 0px;
    padding: 10px;
    border-radius: 15px;

    justify-content: center;

    background-color: var(--cor-black);
    color: var(--cor-write);
    box-shadow: 10px 9px 20px 0px rgba(0, 0, 0, 0.4);
}

div.acesso-manutencao p {
    margin: 0px 10px
}

div.acesso-manutencao i {
    margin: 0px 10px
}

div.acesso-manutencao-1 {
    display: flex;
    flex-direction: row;
    margin: 10px 0px 0px 0px;
    padding: 10px;
    border-radius: 15px;

    justify-content: center;

    background-color: var(--cor-black);
    color: var(--cor-write);
    box-shadow: 10px 9px 20px 0px rgba(0, 0, 0, 0.4);
}

div.acesso-manutencao-1 p {
    margin: 0px 10px
}

div.acesso-manutencao-1 i {
    margin: 0px 10px
}

div.footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

div.footer p {
    margin: 10px 0px;
}

img {
    width: 200px;
}